<% for column in Weeks.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @weeks.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @weeks %> |
<%= link_to 'Back', :action => 'list' %>
