<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">妈妈晒团购-附加邮费管理-新建<span style="float: right; margin-right: 10px;"><%= link_to '返回列表', '/mms/mms_tuans/index' %>
            </span></h1>
        <% form_for @fright_profile,:url => { :action => "over_weight_create" }do |f| %>
        <%= render :partial => 'form_over_weight', :locals=>{:f=>f} %>
        <% end %>
    </div>
    <div class="clear">
    </div>
</div>


