<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">积分规则-新建规则
			<span style="float: right; margin-right: 10px;">
		        <%= link_to '返回列表',  '/mms/score_profiles' %>
		    </span>
		</h1>
        <table style="width: 1000px; padding-left: 50px;">
        	<% form_for @score_profile,:url=>{:action=>:create,:id=>@score_profile.id} do |f| %>
				<%= render :partial => 'form', :locals=>{:f=>f}%>
			<% end %>
        </table>
    </div>
    <div class="clear"></div>
</div>