<div id="middle">
        <div id="css_mainbody">
            <h1 class="title">资源库内容管理-修改资源
				<span style="float: right; margin-right: 10px;">
			        <%= link_to '返回列表', :action=>"list" %>
			    </span>
			</h1>
			<table style="width: 1000px; padding-left: 50px;">
				<%= form_for @tool, :url=>"/mms/tools/update/#{@tool.id}", :html=>{:multipart=>true} do |f| %>
	            	<%= render :partial => 'form', :locals=>{:f=>f}%>
				<% end %>
			</table>
        </div>
        <div class="clear"></div>
    </div>	