<% for column in ApnDevice.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @apn_device.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @apn_device %> |
<%= link_to 'Back', :action => 'list' %>
