<div class="post_vote" id="vote_<%=post.id%>">
	<a id='vpost_<%=post.id%>' href="#?" onclick="small_vote_click('<%=post.id%>');"><img src="/images/icons/vote.gif" border=0/></a>
	<div id='update_votepost_<%=post.id%>'>
		
    </div>
</div>