<div class="user_content" id="post_wapper_<%= post.id%>">
	<div class="article_content">
		<div class="user_pic">
			<%= logo_tag(post.user,{:version=>'thumb48',:url=>user_url(post.user)}) if post.user && post.user.logo %>
		</div>
		<div class="user_article">
			<%= render :partial=>'/share/post_content', :locals => {:post => post} %>
		</div>
		<div class="clear"></div>
	</div>
	<%= render :partial=>'/share/post_tools', :locals => {:post => post} %>
</div>