
<table class="ft" border="1">

<tr>
  <td>目标</td>
  <td>
    <%= text_area 'tao_age', 'target', :rows=>5  %>
  </td>
</tr>

<tr>
  <td>说明</td>
  <td>
    <%= text_area 'tao_age', 'introduce', :rows=>5  %>
  </td>
</tr>

<tr>
  <td>推荐</td>
  <td>
    <%= text_area 'tao_age', 'recommand', :rows=>5  %>
  </td>
</tr>

</table>