<div class="login_input">
    <span class="left"><%=hidden_field :post,:new_title_user_id ,:value=>@user.id %>
        <%= text_area :post, :new_title,{:onfocus=>"updateStatusTextContent(this)",:onkeyup=>"updateStatusTextContent(this)"} %>
        <br/>
        填写推荐的标题 
    </span>
    <span class="right">
        <button class="button_submit_s" type="submit" onmouseover="this.className='button_submit_s button_submit_s_hover';" onmouseout="this.className='button_submit_s';">
            推荐
        </button>
    </span>
    <div class="clear">
    </div>
</div>
<%=error_message_on :post_recommend,:content %>