<div class="layer" id="layer_books">
    <div class="layer_title">
        <span class="title">把心爱的宝宝照片和宝宝故事变成一本堪比专业杂志的书？</span>
        <span class="more"><a href="javascript:void(0)" onclick="hide_box()"><img src="/images/layer/del_06.gif"></a></span>
    </div>
    <div class="layer_content">
        <div class="mms_books_layer">
            <img src="/images/layer/books_bg_1.jpg">
        </div>
        <div class="mms_books_layer1">
            <div class="mms_button">
                <a href="/baby_books/new" target="_blank"><img src="/images/layer/books_button.gif"></a><a href="/pub/baby_books" target="_blank">看看别人的书&gt;&gt;</a>
            </div>
        </div>
        <div class="mms_books_layer">
            <img src="/images/layer/books_bg_3.jpg">
        </div>
        <div class="mms_books_button">
            <a href="javascript:void(0)" onclick="hide_box()"><img src="/images/layer/button_c.gif"></a><a href="http://www.mamashai.com/html/help/help.html" target="_blank"><img src="/images/layer/button_m.gif"></a>
        </div>
    </div>
</div>

<script>
reset_box(780, 618);
$('#lightbox').get(0).style.top = '230px';
$('#lightbox').get(0).style.left = '520px';
</script>
