<div class="layer" id="layer_book_confirm">
    <div class="layer_title layer_title01">
        <span class="title"></span>
        <span class="more"><a href="javascript:void(0);" onclick="hide_box();"><img src="/images/layer/del_06.gif"></a></span>
    </div>
    <div class="layer_content">
    	<% if @user_book.user_book_pages_count < 66 %>
		<div class="whether">
           不够66页？我继续 <a href="/books/import/<%=@user_book.id%>">导入图片</a> 吧！
        </div>
        <ul class="layer_botton">
            <li>
                <a class="button_link" href="/books/import/<%=@user_book.id%>">导入图片</a> 
            </li>
			<li>
                <button class="button_submit_s" type="button" onclick="hide_box();" onmouseover="this.className='button_submit_s button_submit_s_hover';" onmouseout="this.className='button_submit_s';">
                    关闭 
                </button>
            </li>
            <div class="clear">
            </div>
        </ul>
		<% elsif !@user.is_get_reward_book? and @user.score < MamashaiTools::ScoreUtil.user_book_abs_score(@user) %>
		<div class="whether">
           啊呀我的积分不够<%=MamashaiTools::ScoreUtil.user_book_abs_score(@user) %>分，还不能生成《个性纪念册》？继续去多<a href="/home">晒</a>多积分！
        </div>
        <ul class="layer_botton">
        	<li>
                <a class="button_link" href="/home">现在去晒</a> 
            </li>
			<li>
                <button class="button_submit_s" type="button" onclick="hide_box();" onmouseover="this.className='button_submit_s button_submit_s_hover';" onmouseout="this.className='button_submit_s';">
                    关闭 
                </button>
            </li>
            <div class="clear">
            </div>
        </ul>
		<% else %>
        <div class="whether">
            确认不用再修改再按此键啊。按了之后，我的个性纪念册正式生成！同时，我的粉丝就能在空间里分享它了，我刚才添加的图片文字也会成为我的微博:) 
        </div>
        <ul class="layer_botton">
            <li >
            	<a class="button_link" href="/books/generate_book/<%=@user_book.id%>">确定</a> 
            </li>
            <li>
                <button class="button_submit_s" type="button" onclick="hide_box();" onmouseover="this.className='button_submit_s button_submit_s_hover';" onmouseout="this.className='button_submit_s';">
                    取消 
                </button>
            </li>
            <div class="clear">
            </div>
        </ul>
		<% end %>
    </div>
</div>
<script>
    reset_box(400, 180);
</script>
