
<% model_name = :user %>
<% model_name = params[:model] unless params[:model].blank? %>
<% if params[:id].blank? %>
<select name="city" id="<%=model_name%>_city_id" value="0" truevalue="0">
    <option value="">城市/地区</option>
</select>
<% else %>
<%=select(model_name, :city_id, Province.find(params[:id]).cities.collect {|p| [ p.name, p.id ] }, {:selected=>params[:city_id].to_i,:prompt=>'城市/地区'} ) %>
<% end %>