<div class="comments01">
    <div class="comments01_bg_favorites">
    </div>
    <div class="comments01_bg2">
        <% if @tuan.favorite_tuans_count > 0 %>
        <div class="look">
            共有<span class="number"><%=FavoriteTuan.count(:conditions=>["tuan_id=?",@tuan.id]) %></span>个人收藏
        </div>
        <% end %>
		<% is_favorited = false %>
        <% for favorite in FavoriteTuan.find(:all,:conditions=>['tuan_id=?',@tuan.id],:include=>[:user],:order=>'favorite_tuans.id desc') %>
         <%=render :partial=>'/tuan/favorite_content',:locals=>{:favorite=>favorite}%>
		 <% is_favorited = true if (favorite.user_id == @user.id)%>
        <% end %>
		<% if is_favorited %>
		<div class="is_favorited">您已经收藏了这个团购。</div>
		<% else %>
        <form auto_remote="post" method="post" callback="load_favorite_tuans" action="/ajax/create_favorite_tuan/<%=@tuan.id%>">
			<%=render :partial=>'/tuan/form_favorite_tuan'%>
		</form>
		<% end %>
    </div>
    <div class="comments01_bg3">
    </div>
</div>
<div class="clear">
</div>