<div class="comments01">
    <div class="comments01_bg_recommends">
    </div>
    <div class="comments01_bg2"> 
        推荐的标题：<%=@post.new_title%> 
    </div>
    <div class="comments01_bg3">
    </div>
</div>
<div class="clear">
</div>
