<div class="flow">
	<div class="jnc_box4_li3 mt20">
		<ul id="lmrb_box2">
			<li class="mainlevel2">
				<a href="<%= product.url || product.url_mobile %>" target="_blank" title="<%= product.name %>"> <img src="<%= product.pic_url %>_310x310.jpg" style="width:226px" /> </a>
				<div class="wt_price">
					¥<%= product.price %>
				</div>
			</li>
		</ul>
	</div>
	<img src="/images/lmrb_bg_1_01.jpg" width="229" height="6">
</div>