<div id="middle">
    <div id="css_mainbody">
    	
	<h1 class="title">新建<%=@type.name%>标签</h1>

	<% form_tag :action=>"create_tag", :id=>@type do%>
		<%= render :partial=>"tag_form"%>
		<%= submit_tag "保存"%>
	<% end %>

	</div>
</div>