.horizontal .bespoke-inactive{opacity:0}
.horizontal .bespoke-before{-webkit-transform:translate3d(-900px,0,0);transform:translate3d(-900px,0,0)}
.horizontal .bespoke-before-2{-webkit-transform:translate3d(-600px,0,0);transform:translate3d(-600px,0,0)}
.horizontal .bespoke-before-1{-webkit-transform:translate3d(-300px,0,0);transform:translate3d(-300px,0,0)}
.horizontal .bespoke-after{-webkit-transform:translate3d(900px,0,0);transform:translate3d(900px,0,0)}
.horizontal .bespoke-after-2{-webkit-transform:translate3d(600px,0,0);transform:translate3d(600px,0,0)}
.horizontal .bespoke-after-1{-webkit-transform:translate3d(300px,0,0);transform:translate3d(300px,0,0)}
[hidden]{display:none}
.ig{text-align:center}
.ig[state="pending"]{display:none}
.ig,.ig[index="0"]{background:#E8619B}
.ig[index="1"]{background:#F5DAE1}
.ig[index="2"]{background:#E3E3E3}
.ig[index="3"]{background:#F3EDD7}
.ig[index="4"]{background:#E0F4EC}
.ig[index="5"]{background:#F0F0F0}
.ig[index="6"]{background:#EDF3FA}
.ig[index="7"]{background:#FBF0F3}
.ig[index="8"]{background:#FBF0F3}
.ig[index="9"]{background:#FFFFFF}
.ig[index="10"]{background:#FFFFFF}
.ig[index="11"]{background:#FDEEF8}
.ig[index="12"]{background:#F5DAE1}
.ig[index="13"]{background:#F5DAE1}
.ig[index="14"]{background:#F5DAE1}
.ig[index="15"]{background:#E3E3E3}
.ig[index="16"]{background:#E3E3E3}
.ig[index="17"]{background:#F0F0F0}
.ig[index="18"]{background:#EDF3FB}
.ig[index="19"]{background:#EDF3FA}
.ig[index="20"]{background:#EDF3FA}
.ig .bespoke-slide{padding:0;width:600px;height:900px;margin-left:-300px;margin-top:-450px;background:0 0}
@media (max-width:900px){.ig .bespoke-slide{width:100%;left:0;margin-left:0}}
@media (max-height:900px){.ig .bespoke-slide{height:100%;top:0;margin-top:0}}
.ig img{width:auto;max-width:100%;max-height:100%}
.rcpt .mask{position:absolute;left:0;top:0;right:0;opacity:0;-webkit-transition:opacity .6s ease;transition:opacity .6s ease}
.rcpt .mask img{vertical-align:top}
.rcpt .mask-last{height:300px;top:50%;margin-top:-170px}
.rcpt .mask-last p{margin:0}
.rcpt .mask-last p.text{margin-bottom:30px}
.rcpt .mask-last p.arrow img{margin-left:135px}
.rcpt .mask-last img{max-width:initial}
.rcpt .download-button{display:inline-block;width:144px}
.ig[last="true"] .backdrop-last{position:fixed;left:0;right:0;top:0;bottom:0;background:#2b2b2b;opacity:.75}
.ig[last="true"] .rcpt .mask-last{opacity:1}