<% for column in TaoTopic.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tao_topic.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @tao_topic %> |
<%= link_to 'Back', :action => 'list' %>
