<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">导购平台-商品抓取</h1>
        <% form_for :site, :url => {:action => :catch_xml} do |f| %>
        <table class="grid_order" border="1">
            <tr>
                <td class="td01" width="150px">
                    抓取网站ＩＤ：
                </td>
                <td>
                    <%= f.text_field :id %>
                </td>
            </tr>
            <tr>
                <td class="td01">
                    抓取时间：
                </td>
                <td>
                    <%= f.text_field :catch_time %>
                </td>
            </tr>
            <tr>
                <td class="td01">
                </td>
                <td>
                    <%= submit_tag "提交" %>
                </td>
            </tr>
        </table>
        <% end %>
    </div>
    <div class="clear">
    </div>
</div>
