<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">导购平台-商品网站-修改信息<span style="float: right; margin-right: 10px;"><%= link_to '返回列表', '/mms/gous/site_index' %>
            </span></h1>
        <% form_for @site,:url => { :action => "site_update", :id => @site }, :html=>{:multipart=>true} do |f| %>
        <%= render :partial => 'site_form', :locals=>{:f=>f} %>
        <% end %>
    </div>
    <div class="clear">
    </div>
</div>