<div class="sharp">
	<h1>晒豆 Q&A</h1>
	<h2>一、什么是晒豆？</h2>
	<p>晒豆是妈妈晒的虚拟货币。</p>
	<h2>二、晒豆能用来做什么？</h2>
	<p>用来兑换各种礼物。</p>
	<h2>三、如何才能获得晒豆？</h2>
	<p>1、参与热点话题：每话题1个豆，每话题上限1个豆。要求：不少于15个字，内容与话题相关。</p>
	<p>2、记录宝宝成长：含图片，1次1个豆，每天上限4个豆。同步到新浪微博或腾讯微博1次1个豆，每天上限2个豆。</p>
	<p>3、分享到微信：分享记录、宝典到微信朋友圈，1个内容1个豆，每天上限2个豆。</p>
	<p>4、评论他人记录：5次1个豆，每天上限3个豆。须5个字以上。</p>
	<p>5、邀请好友：成功邀请1人10个豆，被邀请者须登录并写邀请人昵称。</p>
	<h2>四、兑换说明：</h2>
	<p>1、收货地址：兑换前务必完善收货地址，地址不清晰不予发货。</p>
	<p>2、兑换时间：每周兑换1次，每周五晚24：00准时开始。</p>
	<p>3、礼物递送：每周二统一递送上周礼物。</p>
	<p>4、海外用户：如兑换请提供国内收货地址。</p>
	<p>5、晒豆时限：每年7月1日前用完，过期将清除70%（请理解哦，晒豆清零政策是为了鼓励每个用户在一年中尽量花费晒豆，不至造成大量囤积，从而保障社区虚拟货币的良性发展）。</p>
	<h2>五、惩处规则：</h2>
	<p>1、发布影响社区氛围的混豆记录，将删除记录，每删除1条扣豆2个。</p>
	<p>2、对使用多个账号同时攒豆换礼的账号，将拒绝发货，清空晒豆，情节严重者删除账号。</p>
	<p>3、对频发垃圾内容或广告内容污染社区环境的账号，将清空晒豆，情节严重者删除账号。</p>
</div>