<% for column in BseApply.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bse_apply.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bse_apply %> |
<%= link_to 'Back', :action => 'list' %>
