<% for column in AdvertisementLogo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @advertisement_logo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @advertisement_logo %> |
<%= link_to 'Back', :action => 'list' %>
