<tr>
    <td><%= f.label :name,"分类名称：" %></td>
    <td>
    	<%= f.text_field :name %>
		<%= f.error_message_on  :name %>
	</td>
</tr>
<tr>
    <td colspan="2">&nbsp;
	</td>
</tr>
<tr>
    <td colspan="2">
    	<input type="submit" name="submit" value="提交">
		<%= link_to '返回', '/mms/tuans'%>
	</td>
</tr>