<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">团购导航-信息管理-新建团购信息<span style="float: right; margin-right: 10px;"><%= link_to '返回列表', '/mms/tuans/index' %>
            </span></h1>
        <% form_for @tuan,:url => { :action => "create" }, :html=>{:multipart=>true} do |f| %>
        <%= render :partial => 'form', :locals=>{:f=>f} %>
        <% end %>
    </div>
    <div class="clear">
    </div>
</div>
