<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">团购网站管理-修改团购网站
			<span style="float: right; margin-right: 10px;">
		        <%= link_to '返回列表', '/mms/tuans/website_index' %>
		    </span>
		</h1>
        <table style="width: 1000px; padding-left: 50px;">
        	<% form_for @tuan_website,:url => { :action => "website_update", :id=>@tuan_website.id } do |f| %>
				<%= render :partial => 'form_website', :locals=>{:f=>f}%>
			<% end %>
        </table>
    </div>
    <div class="clear"></div>
</div>