
<table class="ft" border="1">

<tr>
  <td>名称</td>
  <td>
    <%= text_field 'province', 'name'  %>
  </td>
</tr>

<tr>
  <td>区号</td>
  <td>
    <%= text_field 'province', 'post_code'%>
  </td>
</tr>

</table>