
<table class="ft" border="1">

<tr>
  <td>名称</td>
  <td>
    <%= text_field 'city', 'name'  %>
  </td>
</tr>

<tr>
  <td>拼音</td>
  <td>
    <%= text_field 'city', 'pinyin'%>
  </td>
</tr>

<tr>
  <td>区号</td>
  <td>
    <%= text_field 'city', 'post_code'%>
  </td>
</tr>

</table>