@charset "utf-8";
/* CSS Document */

* {margin: 0px; padding: 0px; font-size: 13px;}

#wapper {width:100%;overflow:hidden;}

#head { background:#507AAA;overflow:hidden;}
#head .top_menu {height:25px;line-height:25px; background:#2C4056;color:#fff; text-align:right;}
#head .top_menu a {color:#fff;margin-right:15px;}
#head .logo {font-size:26px;color:#fff;font-weight:bold; font-family:黑体;height:65px;line-height:65px;padding-left:20px;}

#middle {overflow:hidden;}

/*
admin
---------------------
*/
#css_sidebar {float:left;width:200px;overflow-x:hidden; background:#EEEEEE;_height:800px;min-height:800px;border-right:1px solid #ccc;}
#css_sidebar h1.title {width:200px;height:45px;line-height:45px;font-size:16px;padding-left:30px; background: url(/images/icons/space_03.gif) 10px 12px no-repeat;}
#css_sidebar .panel {overflow:hidden;width:200px;margin-left:30px;}
#css_sidebar .panel .panel_title {height:30px;line-height:30px;font-size:14px; background:url(/images/icons/folder.png) 5px 6px no-repeat;padding-left:25px;}
#css_sidebar .panel .panel_title a {color:#666;}
#css_sidebar .panel ul {overflow:hidden;width:180px;margin:auto;}
#css_sidebar .panel ul li {height:25px;line-height:25px; background: url(/images/icons/title_icon.jpg) 10px 8px no-repeat;padding-left:20px;}

#css_mainbody {float:left;width:100%;overflow:hidden;}
#css_mainbody h1.title {height:45px;line-height:45px;font-size:14px;padding-left:30px;border-bottom:1px solid #ccc;}


#css_mainbody .search { width:100%;margin:10px auto; border-collapse:collapse; empty-cells:show;}
#css_mainbody .search td {vertical-align:center; text-align:left;font-size:12px;color:#666;height:40px;line-height:40px;padding-left:10px;border-bottom:1px solid #DDD;}

#css_mainbody .grid_mce {width:98%;margin:10px auto; border-collapse:collapse; empty-cells:show;border:1px solid #ddd;}
#css_mainbody .grid_mce td.td01 {padding: 4px 4px;}

#css_mainbody .grid { width:98%;margin:10px auto; border-collapse:collapse; empty-cells:show;border:1px solid #ddd;}
#css_mainbody .grid th{font-size:13px;height:30px;line-height:30px;font-weight:bold; text-align:center; background:#EEEEEE;}
#css_mainbody .grid td {vertical-align:center; text-align:center;font-size:12px;color:#666;height:30px;line-height:30px;padding-left:10px;border:1px solid #ddd;}
#css_mainbody .grid td a {color:#666;}
#css_mainbody .grid td a.delete {margin-right:10px;color:#329BCB; text-decoration:underline;}


#css_mainbody .grid_order { width:98%;margin:10px auto; border-collapse:collapse; empty-cells:show;border:1px solid #ddd;}
#css_mainbody .grid_order th{font-size:13px;height:30px;line-height:30px;font-weight:bold; text-align:center; background:#EEEEEE;}
#css_mainbody .grid_order td {vertical-align:center; text-align:left;font-size:12px;color:#666;height:30px;line-height:30px;}
#css_mainbody .grid_order td a {color:#666;}
#css_mainbody .grid_order td a.delete {margin-right:10px;color:#329BCB; text-decoration:underline;}
#css_mainbody .grid_order td.td01 {text-align:right;padding-right:10px;}


/*
login
---------------------
*/
.login_content {width:400px;height:160px;border:2px solid #FDBF3B; background:#FFEBC1;margin:50px auto 300px;}
.login_content .login { width:98%;margin:20px auto 0px; border-collapse:collapse; empty-cells:show;}
.login_content .login td {vertical-align:center; text-align:left;font-size:12px;color:#666;padding-left:10px;}
.login_content .login td.t01 { text-align:right;width:80px;font-weight:bold;height:30px;line-height:30px;}
.login_content .login td.t01 a { font-weight:normal;}
.login_content .login td.t02 {height:30px;line-height:30px;}
.login_content .login td.t02 .post_name {width:260px;height:18px;line-height:18px;font-size:12px;}
.login_content .login td.t03 { text-align:right;padding-right:40px;}
.login_content .login td.t03 input {height:25px;width:50px;}
/*
foot
---------------------
*/
#foot {height:80px;color:#666;border-top:1px solid #999;}
#foot .foot_list { text-align:center;padding-top:20px;overflow:hidden;height:25px;line-height:25px;}
#foot .foot_list a {color:#666;padding:0px 5px 0px 5px;}
#foot span.foot_list a:hover {color:#666;}
#foot1 {height:51px;overflow:hidden;line-height:180%;color:#666;padding-top:3px;}
#foot1 span.infor { display:block; text-align:center;}
#foot1 span.infor a {color:#666;}
#foot1 span.infor a:hover {color:#f90;}
#foot1 span.infor img { vertical-align:-3px;}



