<div class="sharp mt20">
	<div class="content box6">
		<h3>我淘专题</h3>
		<div class="box6_li">
			<div id="downlink">
				<a href="#" class="prev"></a>
				<div class="downlink">
					<ul>
						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/7"><img src="http://tbbang.mamashai.com/upload/zhuanti/7/logo/出游副本_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/8"><img src="http://tbbang.mamashai.com/upload/zhuanti/8/logo/玩具 (1)_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/9"><img src="http://tbbang.mamashai.com/upload/zhuanti/9/logo/孕妈咪副本_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/5"><img src="http://tbbang.mamashai.com/upload/zhuanti/5/logo/x3_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/4"><img src="http://tbbang.mamashai.com/upload/zhuanti/4/logo/x4_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/3"><img src="http://tbbang.mamashai.com/upload/zhuanti/3/logo/x1_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/1"><img src="http://tbbang.mamashai.com/upload/zhuanti/1/logo/x2_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/12"><img src="http://tbbang.mamashai.com/upload/zhuanti/12/logo/02副本_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/13"><img src="http://tbbang.mamashai.com/upload/zhuanti/13/logo/01副本_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/10"><img src="http://tbbang.mamashai.com/upload/zhuanti/10/logo/02副本_web.jpg"/></a>
						</li>

						<li>
							<a target="_blank" href="http://tbbang.mamashai.com/main/zt/11"><img src="http://tbbang.mamashai.com/upload/zhuanti/11/logo/01副本_web.jpg"/></a>
						</li>

					</ul>
				</div>
				<a href="#" class="next"></a>
			</div>
		</div>
	</div>
	<div><img src="/images/sharp_bottom.jpg" />
	</div>
</div>
<%= javascript_include_tag "jcarousellite_1.0.1.js" %>
<script>
	$(document).ready(function() {
		$(".downlink").jCarouselLite({
			btnNext : ".next",
			btnPrev : ".prev",
			speed : 1000,
			visible : 4
		});
	});

</script>