<div class="sharp mt20">
	<div class="about">
		<h1>联系妈妈晒</h1>
		<h2>用户沟通</h2>
		<p class="contract">
			Email: cc@mamashai.com<br/>
			QQ: 1170979903<br/>
		</p>
		
		<h2>专栏报名</h2>
		<p class="contract">
			Email: cc@mamashai.com<br/>
			QQ: 1170979903
		</p>
		
		<h2>媒体公关</h2>
		<p class="contract">
			Email: bd@mamashai.com
		</p>
		
		<h2>营销合作</h2>
		<p class="contract">
			Email: bd@mamashai.com<br/>
			QQ: 1634787091<br/>
		</p>
	</div>
	<%= render :partial=>"about_right" %>
	<div><img src="/images/sharp_bottom.jpg" /></div>
</div>
