<div class="sharp mt20">
	<div class="about">
		<h1>加入妈妈晒</h1>
		<p>妈妈晒是一个用心灵创建成长的事业！致力于用我们的心灵，辅之以科技的力量，为妈妈爸爸搭建一个平台，一起成长，一起发光！</p>
		<p>在这里的每一个人，包括用户、员工、合作伙伴，都将发出人生最闪亮的光芒！</p>
		<p class="bg">想加入这样的妈妈晒？联系我们吧：<span class="red">hr@mamashai.com</span></p>
	</div>
	<%= render :partial=>"about_right" %>
	<div><img src="/images/sharp_bottom.jpg" /></div>
</div>
