<div class="sharp mt20">
	<div class="about">
		<h1>媒体报道</h1>
		<ul class="media">
			<li>
				<a href="http://tech.hexun.com/2012-03-29/139881090.html" target="_blank">妈妈晒与百度：大平台上的小平台</a><span class="gray">赛迪网，和讯网</span>
			</li>
			<li>
				<a href="http://news.ccw.com.cn/internet/htm2011/20110713_937584.shtml" target="_blank">妈妈晒突破育儿互联网樊篱 开创交互式阅读</a><span class="gray">《计算机世界》计世网</span>
			</li>
			<li>
				<a href="http://www.qikan.com.cn/Article/jsjb/jsjb201128/jsjb20112848.html" target="_blank">妈妈晒:让亲子交互进入全媒体时代</a><span class="gray">《中国计算机报》</span>
			</li>
			<li>
				<a href="http://www.donews.com/net/201107/540507.shtm" target="_blank">一本书一个社交网络，让父母分享育儿心经</a><span class="gray">北京晚报 ，新浪/搜狐/Donews等转载</span>
			</li>
			<li>
				<a href="http://news.xinhuanet.com/newmedia/2011-07/21/c_121697492.htm" target="_blank">交互式阅读与社交时代正在到来</a><span class="gray">新华社，中国日报/华龙网等转发</span>
			</li>

			<li>
				<a href="http://news.xinhuanet.com/it/2011-07/15/c_121673366.htm" target="_blank">微博创作拉低个人出版门槛 草根父母变身专栏达人</a><span class="gray">新华网，中国日报/光明网/新民网等转发</span>
			</li>
			<li>
				<a href="http://technode.com/2011/07/14/mamashai-sns-for-mothers-and-fathers/?utm_source=twitterfeed&utm_medium=twitter" target="_blank">Mamashai – SNS for Mothers and Fathers</a><span class="gray">Technode</span>
			</li>
		</ul>
	</div>
	<%= render :partial=>"about_right" %>
	<div><img src="/images/sharp_bottom.jpg" />
	</div>
</div>
