<div class="sharp mt20">
  <div class="about">
    <h1>共享妈妈晒</h1>
    <h2>&nbsp;</h2>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="middle" width="13">
          <img src="/images/jiantou_left.png" id="go-prev" border="0"/>
        </td>
        <td>
          <ul id="slider" style="">
            <% 11.times.each do |i| %>
              <li>
                <img id="photo_container" src='<%= "/images/share_" + (i+1).to_s + ".gif" %>' border="0"/>
              </li>
            <% end %>
          </ul>
        </td>
        <td align="center" valign="middle" width="13">
          <img src="/images/jiantou_right.png" id="go-next" border="0"/>
        </td>
      </tr>
    </table>
    <%= javascript_include_tag '../jquery.bxSlider/jquery.bxSlider/jquery.bxSlider.min.js' %>
    <script type="text/javascript">
      $(function(){
        var slider = $('#slider').bxSlider({
          controls: false
        });

        $('#go-prev').click(function(){
          slider.goToPreviousSlide();
          return false;
        });

        $('#go-next').click(function(){
          slider.goToNextSlide();
          return false;
        });
      }); 

    </script>
    <br/>
    <br/>
    <br/>

    <h2>我们相信：</h2>
    <p class="contract">
			最好的科技创想，体现于是否能造福后代。
    </p>

    <h2>我们的使命：</h2>
    <p class="contract">
			用我们的心灵，辅之以科技的力量，为妈妈爸爸搭建一个平台，一起成长，一起发光！
    </p>
  </div>
  <%= render :partial=>"about_right" %>
  <div><img src="/images/sharp_bottom.jpg" /></div>
</div>
