body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../胎儿发育指标_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:46px;
    width:541px;
    height:634px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:547px;
    height:640px;
}

.u1 {
    position:absolute;
    left:2px;
    top:309px;
    width:537px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:46px;
    width:541px;
    height:634px
}

.u2_original {
    background-image: url('../胎儿发育指标_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:542px;
    height:36px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:542px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:538px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:10px;
    width:542px;
    height:36px
}

.u4 {
    position:absolute;
    left:241px;
    top:22px;
    width:80px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../胎儿发育指标_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:10px;
    top:56px;
    width:540px;
    height:34px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:40px;
}

.u6 {
    position:absolute;
    left:2px;
    top:9px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:10px;
    top:56px;
    width:540px;
    height:34px
}

.u8_original {
    background-image: url('../胎儿发育指标_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:38px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:38px;
}

.u9 {
    position:absolute;
    left:2px;
    top:11px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:38px
}

.u10_text {
    position:absolute;
    left:92px;
    top:65px;
    width:90px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:92px;
    top:65px;
    width:90px;
    height:14px
}

.u11_text {
    position:absolute;
    left:223px;
    top:65px;
    width:97px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:223px;
    top:65px;
    width:97px;
    height:14px
}

.u13 {
    position:absolute;
    left:31px;
    top:0px;
    width:480px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_original {
    background-image: url('../胎儿发育指标_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:121px;
    top:191px;
    width:160px;
    height:35px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:41px;
}

.u15 {
    position:absolute;
    left:2px;
    top:10px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:121px;
    top:191px;
    width:160px;
    height:35px
}

.u16_line {
    background-image: url('../胎儿发育指标_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:32px;
    top:243px;
    width:470px;
    height:3px;
}

.u16 {
    position:absolute;
    left:32px;
    top:243px;
    width:470px;
    height:3px
}

.u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:470px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:0px;
    top:3px;
    width:170px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:70px;
    top:93px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:70px;
    top:157px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:121px;
    top:88px;
    width:206px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:121px;
    top:121px;
    width:206px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:121px;
    top:153px;
    width:206px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:322px;
    top:93px;
    width:33px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:322px;
    top:126px;
    width:33px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:322px;
    top:157px;
    width:33px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:83px;
    top:126px;
    width:53px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:0px;
    top:5px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:90px;
    top:0px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:170px;
    top:0px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:249px;
    top:0px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:350px;
    top:6px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:415px;
    top:0px;
    width:40px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:459px;
    top:6px;
    width:20px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:0px;
    top:5px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:90px;
    top:0px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:170px;
    top:0px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:249px;
    top:0px;
    width:75px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41_hover {
    background-image: url('../resources/images/transparent.gif');
}

.u41_original {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:344px;
    top:2px;
    width:113px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:109px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:344px;
    top:2px;
    width:113px;
    height:20px
}

.u43 {
    position:absolute;
    left:380px;
    top:124px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:380px;
    top:156px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_original {
    background-image: url('../胎儿发育指标_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px
}

.u54 {
    position:absolute;
    left:31px;
    top:5px;
    width:119px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_line {
    background-image: url('../胎儿发育指标_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:31px;
    top:168px;
    width:470px;
    height:3px;
}

.u55 {
    position:absolute;
    left:31px;
    top:168px;
    width:470px;
    height:3px
}

#u56 {
    position:absolute;
    left:31px;
    top:59px;
    width:475px;
    height:104px
}

.u56_table {
    background-image: url('../胎儿发育指标_files/u56_table.png');
}

.u56_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:479px;
    height:108px;
}

.u57_original {
    background-image: url('../胎儿发育指标_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:19px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:19px
}

.u59_original {
    background-image: url('../胎儿发育指标_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:100px;
    top:0px;
    width:190px;
    height:19px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:100px;
    top:0px;
    width:190px;
    height:19px
}

.u61_original {
    background-image: url('../胎儿发育指标_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:290px;
    top:0px;
    width:180px;
    height:19px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:290px;
    top:0px;
    width:180px;
    height:19px
}

.u63_original {
    background-image: url('../胎儿发育指标_files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:19px;
    width:100px;
    height:20px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:0px;
    top:19px;
    width:100px;
    height:20px
}

.u65_original {
    background-image: url('../胎儿发育指标_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:100px;
    top:19px;
    width:190px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:100px;
    top:19px;
    width:190px;
    height:20px
}

.u67_original {
    background-image: url('../胎儿发育指标_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:290px;
    top:19px;
    width:180px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:290px;
    top:19px;
    width:180px;
    height:20px
}

.u69_original {
    background-image: url('../胎儿发育指标_files/u63_original.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:39px;
    width:100px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:0px;
    top:39px;
    width:100px;
    height:20px
}

.u71_original {
    background-image: url('../胎儿发育指标_files/u65_original.png');
}

.u71_container {
    position:absolute;
    left:100px;
    top:39px;
    width:190px;
    height:20px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:100px;
    top:39px;
    width:190px;
    height:20px
}

.u73_original {
    background-image: url('../胎儿发育指标_files/u67_original.png');
}

.u73_container {
    position:absolute;
    left:290px;
    top:39px;
    width:180px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:290px;
    top:39px;
    width:180px;
    height:20px
}

.u75_original {
    background-image: url('../胎儿发育指标_files/u63_original.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:59px;
    width:100px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:0px;
    top:59px;
    width:100px;
    height:20px
}

.u77_original {
    background-image: url('../胎儿发育指标_files/u65_original.png');
}

.u77_container {
    position:absolute;
    left:100px;
    top:59px;
    width:190px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:100px;
    top:59px;
    width:190px;
    height:20px
}

.u79_original {
    background-image: url('../胎儿发育指标_files/u67_original.png');
}

.u79_container {
    position:absolute;
    left:290px;
    top:59px;
    width:180px;
    height:20px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:290px;
    top:59px;
    width:180px;
    height:20px
}

.u81_original {
    background-image: url('../胎儿发育指标_files/u63_original.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:79px;
    width:100px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:0px;
    top:79px;
    width:100px;
    height:20px
}

.u83_original {
    background-image: url('../胎儿发育指标_files/u65_original.png');
}

.u83_container {
    position:absolute;
    left:100px;
    top:79px;
    width:190px;
    height:20px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:100px;
    top:79px;
    width:190px;
    height:20px
}

.u85_original {
    background-image: url('../胎儿发育指标_files/u67_original.png');
}

.u85_container {
    position:absolute;
    left:290px;
    top:79px;
    width:180px;
    height:20px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:290px;
    top:79px;
    width:180px;
    height:20px
}

.u87 {
    position:absolute;
    left:31px;
    top:33px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_original {
    background-image: url('../胎儿发育指标_files/u52_original.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

.u89 {
    position:absolute;
    left:2px;
    top:6px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px
}

.u90 {
    position:absolute;
    left:31px;
    top:5px;
    width:103px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:30px;
    top:37px;
    width:410px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../胎儿发育指标_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:30px;
    top:84px;
    width:470px;
    height:3px;
}

.u92 {
    position:absolute;
    left:30px;
    top:84px;
    width:470px;
    height:3px
}

.u94_original {
    background-image: url('../胎儿发育指标_files/u52_original.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

.u95 {
    position:absolute;
    left:2px;
    top:6px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px
}

.u96 {
    position:absolute;
    left:33px;
    top:5px;
    width:470px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_original {
    background-image: url('../胎儿发育指标_files/u97_original.png');
}

.u97_container {
    position:absolute;
    left:32px;
    top:33px;
    width:498px;
    height:80px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:504px;
    height:86px;
}

.u98 {
    position:absolute;
    left:2px;
    top:34px;
    width:494px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:32px;
    top:33px;
    width:498px;
    height:80px
}

.u99_original {
    background-image: url('../胎儿发育指标_files/u52_original.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px;
}

.u100 {
    position:absolute;
    left:2px;
    top:6px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:27px
}

.u101 {
    position:absolute;
    left:33px;
    top:5px;
    width:470px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_hover {
    background-image: url('../resources/images/transparent.gif');
}

.u102_original {
    background-image: url('../resources/images/transparent.gif');
}

.u102_container {
    position:absolute;
    left:333px;
    top:28px;
    width:165px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:161px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:333px;
    top:28px;
    width:165px;
    height:20px
}

.u104_hover {
    background-image: url('../resources/images/transparent.gif');
}

.u104_original {
    background-image: url('../resources/images/transparent.gif');
}

.u104_container {
    position:absolute;
    left:369px;
    top:53px;
    width:137px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:133px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:369px;
    top:53px;
    width:137px;
    height:20px
}

