@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;}
body { margin:0 auto; font-size:12px; color:white; text-align:center; background-color: #D83683;}
img { border:0;}
.clear {clear:both;}
a { color:#EB0583; text-decoration:none;}
a:hover { text-decoration:none;}
.box { margin:0 auto;}
.top { height:50px; background:url(../images/top_bj.jpg) repeat-x; text-align:left; _margin-bottom:-3px;}
.top .span1 { margin-left:30%; color: white; font-weight: bold;}

.input_form {margin: 5px 4px; font-size: 15px; line-height: 50px; padding: 6px 0; border-radius: 6px; background-color: white; color: #D83683; font-size: 20px; font-weight: bold; padding-top: 20px; position: relative; background-image: url('../images/logo.gif'); background-position:right bottom; background-repeat:no-repeat;}
.input_form .calc {margin-top: 6px; display: inline-block; width: 70px; height: 30px; background-color:#D31D6A; margin-left: 20px; border: 1px solid #F5BAD3; border-radius: 3px; cursor: pointer; line-height: 30px;}
.input_form .calc a {color: white; font-size: 16px; display: block;}
.input_form .form_right { width:94px; height:37px; float:right; margin-right: 6px; margin-top: 10px;}
.input_form .form_left {float:left; width: 74%;}
.input_form p.submit {margin: 30px auto;}

.nav {display:none; font-size: 20px; line-height: 30px; color: white; text-align: center; padding: 4px; padding-top: 10px;}
.nav span.button {float: left; width: 55px; height: 30px; margin-left: 4px; background-image: url("../images/button.png");}
.nav span.button a {color: #D83683; font-size: 15px; line-height: 30px; display:block;}
.nav span.right {float: right; font-size: 15px;}
.content {display:none; background-color: white; border-radius: 6px; margin: 0px 4px; color: #535353; margin-bottom: 4px;}

.result_form {margin: 5px 2px; font-size: 15px; line-height: 28px; padding: 10px 0; }
.result_form .yuchan_field {margin: 0px 0px; background:none; color:#EB0583; font-size:21px; font-weight:bold; line-height: 25px;}

.content_menu {height:28px; margin:5px 0px 0px; background:url(../images/content_menu4.jpg) no-repeat right bottom;}
.content_menu a.menu {width: 25%; float: left; display: inline-block; background-color: #cccccc; height: 32px; line-height:32px; font-size: 14px; color: white;}
.content_menu a.menu:hover {background-color: #D83683;}
.content_menu a.selected {background-color: #D83683;}
.content_jiao { height:2px; border-left:1px solid #C2C0C1;background:url(../images/content_jiao.jpg) no-repeat; margin:0 2px; overflow:hidden;}
.content_text { height:270px;  margin:0 2px; padding: 6px;}
.content_text .content_font { height:225px; font-size:16px; text-align:left; line-height:22px;}
.content_text .content_font .img {text-align:center;}
.content_text .content_font .img img {width: 100%; min-width: 300px; max-width: 320px;}
.content_text .content_zhou img { vertical-align:middle;}
.content_zhou { height:30px; display:block;}
.content_zhou a {width: 70px; display:inline-block; font-size: 14px; background-color: #D31D6A; font-size: 15px; height: 30px; line-height: 30px; color: white; margin: 0px 20px;}
.content_zhou_syz,.content_zhou_xyz {font-size:14px;}
.content_zhou_syz { width:61px; height:20px; line-height:20px; float:left; margin-top:10px; margin-left:30px; display:inline;}
.content_zhou_xyz { width:61px; height:20px; line-height:20px; float:left; margin-top:10px; margin-left:56px;}
.content_text .content_text_right { width:172px; height:200px; float:left; padding: 0px 5px; }
.content_text .content_text_right .content_img { width:170px; height:121px; border:1px solid #C2C0C1;}
.content_text .content_text_right .content_ts { width:150px; text-align:left; line-height:18px;border:1px solid #c2c0c1; background:#fff; margin-top:10px; padding:10px;}
.content_bottom { width:520px; height:3px; background:url(../images/content_bottom.jpg) no-repeat; margin:0 auto; overflow:hidden;}

.content_zhou a.disable_btn {background-color: #ccc;}

.bottom { height:35px; border:1px solid #C2C0C1; background:#F5F3F4; margin:5px 2px 0; text-align:right; line-height:35px; padding-right:10px;font-size:11px;}

.foot {padding: 4px 0px; font-size: 13px;}
.foot a { color: #55c; font-size: 14px;}
