<div style="font-size: 13px;">
<div style="text-align: center; margin: 6px 0;"><h2>妈妈晒专栏作者协议</h2></div>
<p>甲方：北京晒晒乐网络科技有限公司（人民邮电出版社所属公司）</p>
<p>乙方：专栏作者</p>           

<p>1、妈妈晒网站www.mamashai.com 是人民邮电出版社所属的育儿/家庭教育全媒体出版平台，为促进该领域原创作品的持续繁荣，给作者创造更好的创作环境，同时为读者打造更好的阅读和交流平台，促使更多优秀作品产生，乙方受邀成为妈妈晒的专栏作者，在妈妈晒网站创建专栏。</p>
<p>2、乙方自经过甲方审核同意在妈妈晒网站创建专栏之日起，意味着甲乙双方签署并共同遵守本协议各项约定。</p>
<p>3、乙方保证其在专栏中发布的各类作品，属于自己的原创作品，不侵害任何第三方的合法权利（包括但不限于第三方的著作权等任何知识产权、名誉权、姓名权、肖像权等中国法律规定的相关权利），不存在包括知识产权纠纷在内的任何法律纠纷，没有违反著作权法、出版法及其它有关中国法律的规定，并且该作品不含有下列内容： ①反对宪法确定的基本原则和内容；②危害国家统一、主权和领土完整； ③危害国家安全、荣誉和利益； ④煽动民族分裂、侵害少数民族风俗习惯，破坏民族团结； ⑤泄露国家机密； ⑥宣扬淫秽、迷信或者渲染暴力，危害社会公德和民族优秀文化传统；⑦侮辱或者诽谤他人；⑧法律、法规规定禁止的其他内容。</p>
<p>4、根据国家相关政策及法律法规的规定，甲方将制定网站各项管理制度，对乙方及相关作品在甲方网站的发布及更新行为进行规范；同时，对于不符合甲方网站要求的作品，甲方网站编辑可以提出修改意见，对于违反国家法律、法规、政策等的作品，甲方有权进行删除。</p>
<p>5、乙方在甲方网站上发表的作品，甲方应为乙方署名。乙方署名是指本协议中所列明的乙方笔名。除乙方在本协议签署之后书面向甲方申请要求修改其署名并经甲方同意，或者甲方认为需要使用乙方真实姓名作为署名的，否则协议作品涉及到乙方署名的，甲、乙双方均同意以本协议列明的乙方笔名为乙方署名。</p>
<p>6、乙方的专栏作品，甲方拥有优先的出版权（为此甲方将安排编辑与乙方沟通并签署相关协议）。本协议中所指出版包括纸质图书及非纸质出版物的形式，包括但不限于作品转化为二进制数字形态或其他电子信号等形态在互联网、手机、电视、电台、多媒体终端等各种媒体、平台、终端的发布、传播、使用等形式，具体包括但不限于电脑网络、电子E书、电子光盘、电子阅读器、手机、PDA、开放平台应用（APP）等形式。</p>
<p>7、甲方应根据作品及网页具体情况对符合要求的作品提供相应的营销推荐。并应采取一定措施宣传签约作品，提高签约作品和乙方的知名度，促进签约作品的销售。为宣传、促销乙方的签约作品，甲方可以将签约作品在报纸、杂志、互联网络等媒体上进行签约作品部分章节的非盈利性刊载。为宣传乙方及乙方签约作品需要，甲方经乙方同意可以使用乙方姓名（包括真实姓名和笔名），肖像及含有乙方肖像的照片、图片（包括对照片、图片进行修饰和处理）、动画、形象及声音等。</p>
<p>8、妈妈晒的专栏秉承“快乐妈妈，让爱发光”的宗旨，以分享育儿快乐为目标，为您提供了一个发布原创观念的平台，妈妈晒将针对您的专栏内容为爸爸妈妈们提供精准推送，我们不希望在专栏内容中出现外部链接或任何形式的广告，您可以通过微博、日志及群组方式推送广告内容，而我们希望专栏更多的是以内容取胜，以快乐和亲和力聚拢父母交流圈子</p>
</div>
