<h1>Article</h1><%= link_to "返回到列表", "/api/test" %><br/>
资讯信息,如查看资讯，会返回详细内容字段(article_content)
<hr/>
<h2>字段说明</h2>
<pre>
    * id: 资讯ID
    * article_category_id: 分类id
    * title: 标题
    * view_count: 浏览数目
    * created_at: 创建时间
    * author: 作者
    * article_goods_count: 好评数
    * logo_url: 图片地址
    * logo_url_thumb99: 缩略图地址30x30
    * article_content 资讯内容(只有查看单条资讯时返回该字段)
</pre> 