<h1>UserKid</h1><%= link_to "返回到列表", "/api/test" %><br/>
用户孩子的资料信息,位于 user对象中的user_kids字段,如: "user":{"user_kids":[{孩子1}, {孩子2}]}
<hr/>
<h2>字段说明</h2>
<pre>
    * id: id
    * name: 姓名
    * gender: 性别
    * education: 教育程度
    * education_org: 教育机构
    * kid_age: 省份
    * logo_url: 默认图片地址450x450
    * logo_url_thumb30: 30x30 缩略图地址
</pre> 