<% for column in DdhOrder.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ddh_order.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ddh_order %> |
<%= link_to 'Back', :action => 'list' %>
