<div class="sharp">
	<div class="content2">
		<h1>设置</h1>
		<div class="navigate_tab" id="n">
			<%= render :partial=>'nav' %>
			<div class="class2">
				<% if params[:success] %>
				<div class="success">
					操作成功
				</div>
				<% end %>
				<%= form_tag :action=>:update_password do %>
				<%= render :partial=>'form_password' %>
				<div style="padding: 20px 0px 0px 100px;">
					<%= submit_tag :保存, :class=>"button2"%>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div><img src="/images/sharp_bottom.jpg" /></div>
</div>
<div class="clear"></div>
