<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">商品管理
		<span style="float: right; margin-right: 10px;">
			<%= link_to '返回', :action=>"index" %>
        </span>
		</h1>
        
    	<%= form_tag({:action=>"update", :id=>params[:id], :page=>params[:page]}, :multipart => true) do %>
		  <table class="grid_mce" border=1 cellpadding=2>
        	<%= render :partial=>"form"%>
		  </table>
        <% end %>
		
    </div>
    <div class="clear">
    </div>
</div>
