<style>
  * {font-size: 15px;}
  div.clear {clear: both;}
  div#content {padding: 10px; font-size: 16px; line-height: 24px;}
  div#picture img {width: 200px; margin: 4px;}
  div#forward div.forward {background-color: #eee; padding: 16px; border-radius: 10px; line-height: 22px; font-size: 14px; margin-bottom: 10px;}
  div#forward div.forward div.logo img {width: 200px; margin: 6px;}

  .WB_arrow span{
    position: relative;
    top: 8px;
    margin-left: 40px;
    color: #eee;
  }

  div.clear {clear: both;}
  div#download p.desc {text-align: left; line-height: 30px; margin: 8px 0px;}
  div#head {background-color: #999; padding: 6px; color: #FFF;}
  div#head div#logo {text-align: center; float: left; width: 25%;}
  div#head div#logo img {width: 60px; height: 60px;}
  div#head div#logo p {font-size: 15px; color: #E02882; line-height: 20px; font-weight: bold; margin: 0px;}
  div#head div#slogan {float:left; width: 50%;}
  div#head div#slogan p {font-size: 13px; margin: 0px; line-height: 1.4;}
  div#head div#slogan p.p1 {font-size: 20px; font-weight: bold;}
  div#head div#slogan p.p2 {font-size: 12px;}
  div#head div#slogan p.p3 img {float: left; margin-top: 2px; width: 80px;}
  div#head div#slogan p.p3 span{margin-left: 8px; font-size: 10px;}
  div#head div#downloads {float: left; width: 24%; text-align: center;}
  div#head div#downloads a img {width: 70px; margin-top: 15px;}

  div#picture {width: 90%;}
  div#picture img.square {width: 28%;}
  body {
    background-color: #FFFCD4;
  }
</style>

<div id="head">
  <div id='logo'>
    <img src='/images/advs/mobile/logo.png'/>
  </div>
  <div id="slogan">
    <p class="p1">
      宝宝日历
    </p>
    <p class="p2">孕期到12岁全程监测记录</p>
    <p class="p3"><img src="/images/advs/mobile/xing.png"/> <span>明星育儿应用</span></p>
  </div>
  <div id="downloads">
    <a href="/bbrl/download" target="_blank"><img src="/images/advs/mobile/hd_r2_c4.png" /></a>
  </div>
  <div class="clear"></div>
</div>


<div id="post">
  <img src="/images/616/1-banner.png"  style="width: 100%;"/>
  <div style="margin-left: 10px;margin-right: 10px">
    <p style="color: #370505">
      6月16日白天和晚上都能兑换礼物啦！616件礼品免费等你拿！<br/><br/>
      宝宝们喜爱的玩具，妈妈任性兑，开心兑！<br/><br/>
      6月16日当天10:00, 14:00，21:00，三个时间点任你选！<br/><br/>
      超值好礼，件件心动。<br/><br/>
      下载宝宝日历，并转发"616任性兑"立获50晒豆！<br/><br/>
    </p>
    <a href="http://www.mamashai.com/bbrl/download" target="_blank"><img src="/images/616/list.png"  style="width: 100%;margin-bottom: 10px"/></a>
  </div>
</div>

<div id="head">
  <div id='logo'>
    <img src='/images/advs/mobile/logo.png'/>
  </div>
  <div id="slogan">
    <p class="p1">
      宝宝日历
    </p>
    <p class="p2">孕期到12岁全程监测记录</p>
    <p class="p3"><img src="/images/advs/mobile/xing.png"/> <span>明星育儿应用</span></p>
  </div>
  <div id="downloads">
    <a href="/bbrl/download" target="_blank"><img src="/images/advs/mobile/hd_r2_c4.png" /></a>
  </div>
  <div class="clear"></div>
</div>
<script>
  window.onload=function() {
    setTimeout(function() {
      document.title = "6月16日白天和晚上都能兑换礼物啦！616件礼品免费等你拿!"
    }, 500)
  }
</script>

<% content_for :head_image do %>
  <img src="/images/616/big_log.jpg" alt="" style="height: 0; width: 0; overflow: hidden;"/>
<% end %>

