<label for="username">
    用户名:
</label>
<%=text_field :search, :name, :style=>'width:150px;' %>
<label for="username">
    查询日期:
</label>
<%=date_select :search, :created_at ,:use_month_numbers => true %> 