<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">新建组件<%= flash[:notice] %><span style="float: right; margin-right: 10px;"><%= link_to '返回列表', :action=>:index %>
            </span></h1>
        <% form_for(@app) do |f| %>
        <%= render :partial=>'form_app',:locals=>{:f=>f} %>
        <% end %>
    </div>
</div>