<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">导购平台-商品列表-修改信息<span style="float: right; margin-right: 10px;"><%= link_to '返回列表', '/mms/eproducts/index' %>
            </span></h1>
            <% form_for @eproduct, :url => { :action => "update",:id=>@eproduct.id } do |f| %>
            <%= render :partial => 'form', :locals=>{:f=>f} %>
            <% end %>
    </div>
    <div class="clear">
    </div>
</div>