<!--
<DIV id=AdLayer><A href="#top"><IMG src="/images/bbrl_gd.png"></A></DIV>
-->
<div id="lmrb_box1" class="mt5 box4">
	<div class="lmrb_left">
		<div id="slider">
			<A href="https://itunes.apple.com/cn/app/bao-bao-ri-li-huai-yun-yu/id499828643?ls=1&mt=8" target=_blank><IMG src="/images/bbrl/5.png"></A>
			<A href="https://itunes.apple.com/cn/app/bao-bao-ri-li-huai-yun-yu/id499828643?ls=1&mt=8" target=_blank><IMG src="/images/bbrl/4.png"></A>
			<A href="https://itunes.apple.com/cn/app/bao-bao-ri-li-huai-yun-yu/id499828643?ls=1&mt=8" target=_blank><IMG src="/images/bbrl/3.png"></A>
			<A href="https://itunes.apple.com/cn/app/bao-bao-ri-li-huai-yun-yu/id499828643?ls=1&mt=8" target=_blank><IMG src="/images/bbrl/2.png"></A>
			<A href="https://itunes.apple.com/cn/app/bao-bao-ri-li-huai-yun-yu/id499828643?ls=1&mt=8" target=_blank><IMG src="/images/bbrl/1.png"></A>
		</div>
		
		<%= javascript_include_tag 'jquery.slider.min.js' %>
	    <script type="text/javascript">
	        $(function() {
	            $('#slider').slider({
	                width:      700,
	                height:     425
	            });
	        });
	    </script>
	</div>
	<div class="lmrb_right">
		<h3>宝宝日历客户端下载</h3>
		<div style="text-align: center;">
		<div style="padding: 10px 0;">
			<a href="https://itunes.apple.com/cn/app/bao-bao-ri-li-huai-yun-yu/id499828643?ls=1&mt=8" target="_blank">
				<img src="/images/bbrl/button3.png" />
			</a>
		</div>
		<div style="padding: 10px 0;">
			<a href="http://www.mamashai.com/index/apk" target="_blank"><img src="/images/bbrl/button4.png" /></a>
		</div>
		</div>
		<h3>二维码下载</h3>
		<div style="text-align: center;">
			<div>
				<img src="/images/bbrl/erwei.png" style="width:150px;"/>
			</div>
		</div>
	</div>
</div>
