<html>
<head>
	<meta property="qc:admins" content="15405420776515130116375722247572145" />
	<meta name="viewport" content="user-scalable=yes,width=640px" />
	<title>宝宝日历下载</title>
	<link href="/javascripts/tinyslider2/style.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/tinyslider2/script.js" type="text/javascript"></script>
	<style>
		* {padding: 0px; margin: 0px; font-size: 15px;}
		body {background-color: #448A9B; font-family: "微软雅黑"; text-align:center}
		div#main {width: 640px; margin: 0px auto; text-align: left;}
		div.clear {clear: both;}
		img {border: 0px;}
		div#head {background-color: #999; padding: 6px; color: #FFF;}
		div#head div#logo {text-align: center; float: left; width: 25%;}
		div#head div#logo img {width: 120px; height: 120px;}
		div#head div#logo p {font-size: 30px; color: #E02882; line-height: 40px; font-weight: bold; margin: 0px;}
		div#head div#slogan {float:left; width: 50%;}
		div#head div#slogan p {font-size: 26px; margin: 0px;}
		div#head div#slogan p.p1 {font-size: 40px; font-weight: bold;}
		div#head div#slogan p.p2 {font-size: 24px;}
		div#head div#slogan p.p3 img {float: left; margin-top: 2px;}
		div#head div#slogan p.p3 span{margin-left: 8px; font-size: 20px;}
		div#head div#downloads {float: left; width: 24%; text-align: center;}
		div#head div#downloads a img {width: 120px; margin-top: 40px;}
		div.section {font-size: 22px; color: white; padding: 10px 14px; background-color: #666666;}
		div#adv {background-color: #FDF0F5}
		div#adv div#title div#left {float: left;}
		div#adv div#title div#left img {width: 120px;}
		div#adv div#title p {margin: 0px;}
		div#adv div#title p#t1 {padding-top: 14px; padding: 10px 0px;}
		div#adv div#title p#t2 span.num {font-size:20px; color: gray;}
		div#adv div#title p{font-size: 32px; line-height: 40px; color: #DE1B7D; text-align: right; margin-right: 40px; font-family: "微软雅黑"; font-weight: bold;}
		div#adv div#content div#logo {float: left; width: 40%;}
		div#adv div#content div#logo img {width: 100%;}
		div#adv div#content div#introduce {padding-left: 8px; float: right; width: 58%; padding-top: 60px;}
		div#adv div#content div#introduce p {margin: 14px 4px; font-size: 22px;}
		div#adv div#content div#introduce p.title {font-weight: bold; font-size: 28px;}
		div#adv div#content div#introduce p.line2 {font-size: 18px; color: gray;}
		div#detail {background-color: white; text-align: center;}
		div#detail div#wrapper {text-align: center;}
		div#detail div#wrapper ul#pagination{display:none;}
		div##prize img {margin: 0px; padding: 0px;}
	</style>
</head>
<body>
	<div id="main">
		<div id="head">
			<div id='logo'>
				<img src='/images/advs/mobile/logo.png'/>
			</div>
			<div id="slogan">
				<p class="p1">
					宝宝日历
				</p>
				<p class="p2">孕期到12岁全程监测记录</p>
				<p class="p3"><img src="/images/advs/mobile/xing.png"/> <span>明星育儿应用</span></p>
			</div>
			<div id="downloads">
				<% if request.env['HTTP_USER_AGENT'].to_s.downcase.include?('iphone') || request.env['HTTP_USER_AGENT'].to_s.downcase.include?('ipad')%>
					<% if request.env['HTTP_USER_AGENT'].to_s.downcase.include?('micromessenger') %>
						<a href="/bbrl/download"><img src="/images/advs/mobile/hd_r2_c4.png" style="width: 120px;" /></a>
					<% else %>
						<a href="http://www.mamashai.com/index/ipa"><img src="/images/advs/mobile/hd_r2_c4.png" style="width: 120px;" /></a>
					<% end %>
				<% elsif request.env['HTTP_USER_AGENT'].to_s.downcase.include?('android') %>
					<% if request.env['HTTP_USER_AGENT'].to_s.downcase.include?('micromessenger') %>
						<a href="/bbrl/download"><img src="/images/advs/mobile/hd_r2_c4.png"/></a>
					<% else %>
						<a href="http://www.mamashai.com/index/apk"><img src="/images/advs/mobile/hd_r2_c4.png"/></a>
					<% end %>
				<% else %>
					<img style="margin-top:10px;" src="/images/advs/mobile/qrcode.png"/>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="section">
			备受各位孕妈妈和辣妈们的喜爱，有何秘诀？！
		</div>
		
		<div id="prize">
			<img src="/images/advs/mobile/6/2.jpg" />
			<img src="/images/advs/mobile/6/3.jpg" />
			<img src="/images/advs/mobile/6/4.jpg" />
			<img src="/images/advs/mobile/6/5.jpg" />
		</div>
		
		<div id="head">
			<div id='logo'>
				<img src='/images/advs/mobile/logo.png'/>
			</div>
			<div id="slogan">
				<p class="p4" style="margin-top: 10px;">
					真实记录+真诚分享
				</p>
				<p class="p4" style="margin-top: 10px;">
					=最需要的父母社区
				</p>
			</div>
			<div id="downloads">
				<% if request.env['HTTP_USER_AGENT'].to_s.downcase.include?('iphone') || request.env['HTTP_USER_AGENT'].to_s.downcase.include?('ipad')%>
					<% if request.env['HTTP_USER_AGENT'].to_s.downcase.include?('micromessenger') %>
						<a href="/bbrl/download"><img src="/images/advs/mobile/hd_r2_c4.png" style="width: 120px;" /></a>
					<% else %>
						<a href="http://www.mamashai.com/index/ipa"><img src="/images/advs/mobile/hd_r2_c4.png" style="width: 120px;" /></a>
					<% end %>
				<% elsif request.env['HTTP_USER_AGENT'].to_s.downcase.include?('android') %>
					<% if request.env['HTTP_USER_AGENT'].to_s.downcase.include?('micromessenger') %>
						<a href="/bbrl/download"><img src="/images/advs/mobile/hd_r2_c4.png"/></a>
					<% else %>
						<a href="http://www.mamashai.com/index/apk"><img src="/images/advs/mobile/hd_r2_c4.png"/></a>
					<% end %>
				<% else %>
					<img style="margin-top:10px;" src="/images/advs/mobile/qrcode.png"/>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<script type="text/javascript">
        <% if flash[:notice] %>
        	alert("<%= flash[:notice] %>");
        <% end %>
    </script>
</body>
</html>

<div style="display:none">
	<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb62084ced4b6982bc50286972cbf6fce' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>
