亲： <br/><br/>
<%profile = @user.user_profile%>
您的密码将被重新设置为<%=profile.password_reset%>，只需点击下面的链接，即可使用新密码。<br/>
<a href="http://www.mamashai.com/account/confirm_reset_password/<%=profile.uuid%>">
http://www.mamashai.com/account/confirm_reset_password/<%=profile.uuid%>
</a>
<br/><br/>



妈妈晒是中国最好的育儿类微博网站，在这里随时随地记录生活、记录成长！<br/><br/>
 
 
妈妈晒团队<br/>
www.mamashai.com<br/><br/>

----------------------晒一点，就发光！------------------------<br/>
妈妈晒相信：<br/>
最好的科技和创想，体现于是否能造福后代。<br/>
每个人都可能成就发光的人生！<br/>