亲爱的<%=@user.name%>：<br/><br/>


<%=date_time Time.now%>， 你在妈妈晒收到<%=@user.unread_gifts_count%>个礼物，请你<a href="http://www.mamashai.com/gifts">点这里查看>></a><br/>
如果你不想再收到该邮件提醒，请 <a href="http://www.mamashai.com/settings/notify">从这里修改设置>></a><br/><br/>
  
妈妈晒团队<br/>
<a href="http://www.mamashai.com">www.mamashai.com</a><br/>
----------------------晒一点，就发光！------------------------<br/>
妈妈晒相信：<br/>
最好的科技和创想，体现于是否能造福后代。<br/>
每个人都可能成就发光的人生！<br/>