<%=link_user(@user) %>在妈妈晒帮助 <%=link_user(@baby_book_user) %> 的个性纪念册拉票
<br/>
<br/>
快来投一票：<a href="http://mamashai.com/book/<%=@baby_book.id%>">http://mamashai.com/book/<%=@baby_book.id%></a>
<br/> <br/>
您同样可以在节日里为自己的孩子制作一本个性纪念册。 
<br/> <br/>
祝开心愉快！
<br/><br/><br/>
妈妈晒团队
<br/>
www.mamashai.com
<br/>
<br/>
----------------------晒一点，就发光！------------------------
<br/>
妈妈晒相信：
<br/>
最好的科技和创想，体现于是否能造福后代。
<br/>
每个人都可能成就发光的人生！
<br/>
