
    <div class="layer_content">
        <% form_remote_tag :url =>"/users/#{@user.id}/follows/#{@follow.id}/update_group" , :loading => "", :update => "update" do %>
        <div id="update"></div>
        <table class="grid">
            <tbody>
            	<tr height="40">
                    <td width="80" >
                        已有分组： 
                    </td>
                    <td >
                    	<% if @groups.blank? %>
						暂无分组
						<% else %>
						 <%=select :group, :id, @groups.collect {|p| [ p.name, p.id ]},{:prompt=>'==选择已有分组=='} %>
						<% end %>
                        <div>
                        </div>
                    </td>
                </tr>
                <tr height="40">
                    <td >
                        新建分组： 
                    </td>
                    <td >
                        <%= text_field_tag "group[name]" %>
                        <div>
                            <%=error_message_on :group,:name %>
                        </div>
                    </td>
                </tr>
                <tr height="30">
                    <td class="t01" width="50">
                    </td>
                    <td class="t02">
                        说明：对我关注的人设置分组。
                    </td>
                </tr>
                <tr height="40">
                    <td class="t01" width="50">
                    </td>
                    <td class="t02">
                    <button class="button_submit_s" type="submit" onmouseover="this.className='button_submit_s button_submit_s_hover';" onmouseout="this.className='button_submit_s';">
                        确定
                    </button>
                    </td>
                </tr>
            </tbody>
        </table><% end %>
    </div>