    <div id="middle">
        <div id="css_mainbody">
            <h1 class="title">新建宝贝计划话题</h1>
			<form action="/mms/baby_plans/create" method="post">
             <%= render :partial => 'form' %>
			</form>
        </div>
        <div class="clear"></div>
    </div>