<div class="sharp mt5">
	<div id="dl">
		<h1>找回密码</h1>
			<div class="email">
                你的新密码已经发送到你的邮箱：<a href="<%=@user1.email_site%>"><%=@user1.email %></a>，请查收并确认新密码 <img src="/images/icons/smile.gif"/>
            </div>
            <div style="text-align: center; margin: 8px;">
                <a href="<%=@user1.email_site%>" target="_blank"><img src="/images/login/email_login.jpg"></a>
            </div>
            <div class="email02">
                <span class="c1">我没有收到找回密码的邮件怎么办？</span>
                <br>
                看看是否被放入垃圾箱了？
                <br/>
                您还可以联系妈妈晒客服QQ：1634787091
                <br/>
                <a href="/">返回首页</a>
            </div>
	</div>
	<div><img src="/images/sharp_bottom.jpg" />
	</div>
</div>
