<div class="sharp mt5">
	<div id="dl">
		<h1>找回密码</h1>
		<%= form_tag :action=>'find_password_action' do %>
            <table class="grid02 find_password">
                <tbody>
                    <tr height="50">
                        <td class="t01">
                             请输入你在妈妈晒注册的邮箱：
                        </td>
                        <td class="t02">
                            <%= text_field :user, :email, :class=>'default_input' %>
							<input type="submit" value="找回密码"/>
							 <%=error_message_on :user,:email %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <% end %>
	</div>
	<div><img src="/images/sharp_bottom.jpg" />
	</div>
</div>
