<div class="sharp mt5">
	<div id="dl">
		<h1>密码重置成功！请使用新密码登录妈妈晒 <img src="/images/icons/smile.gif"/></h1>
		<div class="email">
            <div class="email02">
                <span class="c1">我没收到邮件验证怎么办？</span>
                <br/>
                看看是否被放入垃圾箱了？
                <br/>
                您还可以联系妈妈晒客服QQ：1634787091
            </div>
        </div>
	</div>
	<div><img src="/images/sharp_bottom.jpg" />
	</div>
</div>
