<% for column in Month.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @month.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @month %> |
<%= link_to 'Back', :action => 'list' %>
