<% for column in Fayu.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @fayu.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @fayu %> |
<%= link_to 'Back', :action => 'list' %>
