<% for column in AlbumOrder.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @album_order.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @album_order %> |
<%= link_to 'Back', :action => 'list' %>
