<div class="layer" id="layer_login">
    <div class="layer_title">
        <span class="title">请登录</span>
        <span class="more"><a href="javascript:void(0);" onclick="hide_box();"><img src="/images/layer/del_06.gif"></a></span>
    </div>
    <div class="layer_content_login">
        <% form_tag :action=>'login_action',:controller=>'account' do %>
        <table class="grid">
            <tbody>
                <tr height="30">
                    <td class="t01" width="50">
                        登录名
                    </td>
                    <td class="t02">
                        <input class="default_input" id="user_email" name="user[email]" size="30" type="text">
                    </td>
                </tr>
                <tr height="15">
                    <td class="t01" width="55">
                    </td>
                    <td class="t04">
                        
                    </td>
                </tr>
                <tr height="30">
                    <td class="t01" width="50">
                        密&nbsp;码 
                    </td>
                    <td class="t02">
                        <input class="default_input" id="user_password" name="user[password]" size="30" type="password">
                    </td>
                </tr>
                <tr height="15">
                    <td class="t01" width="55">
                    </td>
                    <td class="t04">
                        
                    </td>
                </tr>
                <tr height="25">
                    <td class="t01" width="55">
                    </td>
                    <td class="t03">
                        <input name="is_save" id="is_save" value="true" type="checkbox">记住登录状态 <a href="/account/find_password">找回密码</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="note">
            建议在网吧，公用电脑上取消此项 
        </div>
        <div class="button01">
            <button class="button_submit_s" type="submit" onmouseover="this.className='button_submit_s button_submit_s_hover';" onmouseout="this.className='button_submit_s';">
                登录 
            </button>
            <a href="/account/signup">没有注册?</a>
        </div>
        <% end %>
    </div>
</div>
<script>
    reset_box(432, 242);
</script>
