<style>
    #mainbody #chanel_content .event_content .user_pic_event {
        overflow: hidden;
        font-size: 12px;
    }
    
    #mainbody #chanel_content .event_content .grid {
        width: 98%;
        vertical-align: center;
        border-collapse: collapse;
        empty-cells: show;
        margin: 5px auto;
        border: 1px solid #ccc;
    }
    
    #mainbody #chanel_content .event_content .grid th {
        font-size: 12px;
        height: 25px;
        background: #EAEAEA;
        color: #666;
        text-align: center;
        border: 1px solid #ccc;
        font-weight: normal;
    }
    
    #mainbody #chanel_content .event_content .grid td {
        text-align: center;
        height: 35px;
        border: 1px solid #ccc;
        word-WRAP: break-word;
        font-family: Arial;
        line-height: 180%;
        color: #666;
    }
</style>
<div class="event_share">
    <div class="user_all">
        共0元
    </div>
    <div class="user_pic_event">
        <table class="grid">
            <tbody>
                <tr>
                    <th width="40px">
                        序号 
                    </th>
                    <th width="80px">
                        用户名 
                    </th>
                    <th width="80px">
                        真实姓名
                    </th>
                    <th width="80px">
         Email 
                    </th>
                    <th width="80px">
                        手机 
                    </th>
                    <th width="80px">
                        缴费时间 
                    </th>
                    <th width="80px">
                        操作 
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
