<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">导购平台-商品分类-创建信息<span style="float: right; margin-right: 10px;"><%= link_to '返回列表', '/mms/eproduct_categories/index' %>
            </span></h1>
        <% form_for @category,:url => { :action => "create" } do |f| %>
        <%= render :partial => 'form', :locals=>{:f=>f} %>
        <% end %>
    </div>
    <div class="clear">
    </div>
</div>


