
<table class="ft" border="1">
<!--[form:product]-->

<tr>
	<td>商品名称</td>
	<td><%= text_field 'product', 'name', :style=>"width: 500px"  %></td>
</tr>

<tr>
	<td>Logo</td>
	<td>
		<%= text_field 'product', 'pic_url', :style=>"width: 500px"  %>
	</td>
</tr>

<tr>
	<td>价格</td>
	<td><%= text_field 'product', 'price'  %></td>
</tr>

<tr>
	<td>网址</td>
	<td><%= text_field 'product', 'url'  %></td>
</tr>


<!--[eoform:product]-->

</table>