

<div class="clear"></div>

<!--版权-->
<div id="copy">
	Copyright &copy; 2012 Mamashai.com All Rights Reserved 京ICP备10009132
</div>


<div style="display:none">
	<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb62084ced4b6982bc50286972cbf6fce' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>
