<%= stylesheet_link_tag 'head_nav_login' %>
<div id="top_nav">
    <div id="nav">
        <div class="logo">
            <a href="/" title="妈妈晒 - 妈妈爸爸们的网络社区"><img src="/images/login/new_login/new_top_logo2.jpg" alt="logo"/></a></div>
        <ul class="nav_list">
			<li><a href='/pub/posts' title="微博">微博</a></li>
            <li><a  href='/pub/columns' title="专栏">专栏</a></li>
            <li><a href='/mybook/show/3' title="图书">图书</a></li>
			<li><a href='/pub/asks' title="问答">问答</a></li>
			<li><a href='/pub/articles' title="宝典">宝典</a></li>
			<li><a href='/pub/mms_tools' title="下载">下载</a></li>

            <li class="blank"></li>
			<li class="er"><a href="/hot_topic">话题</a></li>
			<li class="line"></li>
			<li class="er"><a href="/huodong">活动</a></li>
			<li class="line"></li>
            <li  class="er"><a href="/subjects/">群组</a></li>
			
			<li class="blank"></li>
			<li title="免费拿" class="san" style="display:none;"><a href="/na">免费拿</a></li>
			<li class="line"></li>
			<li title="分享淘" class="san"><a href="/tao">快乐淘</a></li>
			<li class="line"></li>
			<li title="导购"><a href='/gou'>导购</a></li>
        </ul>
    </div>
</div>
