
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>宝宝成长指标</title>
	<meta http-equiv="mobile-agent" content="format=html5;url=http://www.baobaorili.com/">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="baidu-tc-cerfication" content="1c88fe0c2ddb346c25844d9f99c91d52" />
	<meta name="apple-itunes-app" content="app-id=499828643" />
	<meta name="keywords" content="宝宝成长指标 成长指导" />
	<meta name="description" content="宝宝成长指标提供0-6岁宝宝身体成长发育的各项指标，供父母参考" />
	<link href="/stylesheets/qing.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header class="action-bar">
	<div class="action-bar-left">
		<a href="/qing3">
			<img src="/images/qing/qing.png" style="width: 44px;"/>
			<span class="view-control">宝宝成长指标</span>
		</a>
	</div>
	<div class="action-bar-right">
		<!--
		<a href="http://www.mamashai.com/bbrl/download?qing">
			下载客户端
		</a>
	-->
	</div>
</header>


<div class="main" id="home">
	<%= yield %>
</div>

<footer class="m-l ta-c">
&copy; <a href="http://www.baobaorili.com/" target="_blank">www.baobaorili.com</a> &nbsp;&nbsp;
<!-- KanShu -->
<div class="ext-link"></div>
<!-- Hao123 -->
<img src="http://m.hao123.com/?tn=qiubai" alt=" " width="1" height="1"/>
</footer>
<div style="display:none">
	<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb62084ced4b6982bc50286972cbf6fce' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>
</body>
</html>
