<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css" media="screen">
             h1{
                background: none repeat scroll 0 0 #E2EEF6;
                border: medium none;
                font-size: 18px;
                font-weight: bold;
                line-height: 42px;
                margin: 18px 0 0;
                padding: 0 0 0 13px;
             }     
        </style>
    </head>
    <body>
            <%= yield %>
    </body>
</html>

